body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    background-image: url('images/background.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header p {
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product p {
    font-size: 1.2em;
    color: #333;
}

button {
    margin-top: 10px;
}

#cart {
    display: none;
}

#cart h2 {
    margin-top: 40px;
}

#cart-items {
    margin-top: 20px;
}

#payment {
    margin-top: 40px;
}
